<div>
  <h1>Mensajes</h1>

  <h3>1er Mensaje padre es {{ texto }} </h3>
</div>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repudiandae perferendis quia sapiente eum
  consequatur necessitatibus officia molestiae placeat a voluptatibus dolore, tenetur quas perspiciatis earum
  dignissimos? Eveniet, voluptatibus debitis!</p>


<div>
  <h3>2do mensaje del padre</h3>
  <h4>{{texto2}}</h4>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur praesentium vitae ratione molestiae adipisci
    saepe. Sequi, impedit reprehenderit et repellat, accusantium nisi voluptate nemo odit dolorem officia vitae, nostrum
    totam!
  </p>

</div>

<div>
  <h3>3er mensaje del padre : lista de compras {{texto3.Material | json}} </h3>

</div>

<div>
  Compra del material:
  {{elemento.cuadernos | json}}
</div>